<a href="/view/{{id}}" data-id="{{id}}" data-title="{{title}}" data-rating="{{rating}}" class="thing">
	<img class="thing-thumb" src="{{src}}" />
	<p class="thing-rating">
		Rating: {{ratingText}}
	</p>
	<p class="thing-title">
		{{title}}
	</p>
</a>